.lodBlankHeroSelection {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.lodBlankHeroSelection Label {
    color: #FFFFFF;
    horizontal-align: middle;
    vertical-align: middle;
    font-size: 32px;
}