.changelogRoot
{
    width: 100%;
    height: 100%;
	
}

#changelogButton
{
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323440;
	
    vertical-align: top;
	horizontal-align: left;
	margin-left: 400px;
    margin-top: 5px;
	border-radius: 5px;
    padding: 1px 10px;
    vertical-align: top;
}
 #showChangelogButton
 {
    width: 24px;
    height: 24px;
	wash-color: #00000030;
 }
 
 #changelogIcon
 {
	width: 95%;
    height: 95%;
 }
 
#changelogDisplay
{
	flow-children: down;
	
	box-shadow: #52545520 0px 0px 1px;
    border: 3px solid #323440;
	border-radius: 10px;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#202020), color-stop( 0.3, #212121), to(#101010));
	
    vertical-align: top;
    margin-top: 50px;
    margin-left: -10px;
    height: 700px;
	width: 400px;
	position: 0px 0px -5px;
	
	visibility: collapse;
}
 
#Title
{
    flow-children: down;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #ffffff;
    font-size: 36px;
    margin-top: 16px;
    text-transform: uppercase;
	font-family: 'Times New Roman';
	font-family: Radiance;
	text-align: center;
	horizontal-align: middle;
}
#SubTitleName
{
    color: #666666;
    font-size: 12px;
	margin-top: 5px;
	margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
	horizontal-align: middle;
	font-family: Radiance;
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#OptionSelect
{
	flow-children: right;
	margin-left: 15px;
}

.OptionButton
{
	margin-left: 40px;
}

#OptionText
{
	color: #ffffff;
    font-size: 18px;
	margin-left: 0px;
    margin-top: 0px;
    vertical-align: top;
	font-family: Radiance;
}

#currentDisplay
{
	flow-children: down;
}


.displayPanel
{
	flow-children: down;
    margin-top: 5px;
	margin-left: 40px;
    height: fill-parent-flow(1.0);
	width: fill-parent-flow(1.0);
	visibility: collapse;
	overflow: clip scroll;
}

.displayText
{
	color: #a6a6a6;
    font-size: 18px;
    text-align: left;
	text-overflow: clip;
	width:	fill-parent-flow(1.0);
	font-family: Radiance;
}

.displayHeader
{
	flow-children: down;
}

.displayBody
{
	flow-children: down;
	width:	fill-parent-flow(1.0);
	height: fill-parent-flow(1.0);
}


.HeaderText
{
	color: #a6a6a6;
    font-size: 28px;
    text-align: center;
	text-decoration: underline;
	text-overflow: clip;
	width:	fill-parent-flow(1.0);
	font-family: Radiance;
}

.submitPanel {
    flow-children: down;
    border: 2px solid #556663FF;
    background-color: #333333;
	width: 285px;
	margin-left: -20px;
	margin-top: 300px;
	vertical-align: bottom;
	horizontal-align: middle;
}

.submitText {
    width: fill-parent-flow(1.0);
	max-height: 50px;
    border: 1px solid #556663;
    background-color: #00000000;
	vertical-align: bottom;
	color: #ffffff;
	font-family: Radiance;
}

.submitButton {
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    margin: 8px 8px;
    wash-color: #667774dd;
}

.updateHeaderText
{
	color: #a6a6a6;
    font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
    text-align: left;
	text-decoration: underline;
	text-overflow: clip;
	width:	fill-parent-flow(1.0);
	font-family: Radiance;
}

#submitButtonText
{
	color: #ffffff;
    font-size: 18px;
    text-align: center;
	text-overflow: clip;
	width:	fill-parent-flow(1.0);
}
