.cheatsRoot
{
    width: 100%;
    height: 100%;
}

.testButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#cheatsContainer
{
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#cheatsContainer.visible
{
    visibility: visible;
}

.cheatsDisplayHidden
{
    transform: translate3d( 105%, 0px, 0px );
}

#cheatsDisplay
{
    flow-children: down;
    background-color: #000000EB;
    background-size: 435px 825px;
    background-position: -35px -75px;
    vertical-align: top;
    margin-top: 50px;
    horizontal-align: right;
    margin-right: 0px;
    height: 700px;
    width: 140px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    transition-timing-function: ease-in-out;
    transition-property: transform;
    transition-duration: 0.3s;
    
    visibility: visible;    
    overflow: clip scroll;
}

#cheatsButton
{
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323440;
	
    vertical-align: top;
	horizontal-align: right;
	margin-right: 20px;
    margin-top: 5px;
	border-radius: 5px;
    padding: 1px 10px;
    vertical-align: top;
}

#showCheatsButton
{
    width: 24px;
    height: 24px;
    wash-color: #00000030;
}

#cheatsIcon
{
    width: 95%;
    height: 95%;
}