.menuButtons {
    width: 100%;
    height: 100%;
}

.menuButtonsList {
    // mapHeight - 5px
    margin-bottom: 255px;
    vertical-align: bottom;
    flow-children: right;
    horizontal-align: left;
}

.MinimapExtraLarge .menuButtonsList {
    // mapHeight - 5px
    margin-bottom: 291px;
}

#heroBuilder {
    visibility: collapse;
}

.menuButtonsIcon {
    width: 95%;
    height: 95%;
}

.menuButton {
    width: 24px;
    height: 24px;
	opacity: 0.8;
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));

    margin-left: 10px;

    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323440;
    border-radius: 5px;

    wash-color: #00000030;
	tooltip-position: top right;
}

.menuButton:hover {
	opacity: 1.0;
	background-color: #555555;
}

#patreonButton {
    align: right bottom;
    margin-bottom: 101px;
    height: 32px;
    width: 150px;
}


#patreonButton Image {
    transition-property: transform;
    transition-duration: 0.05s;
    transition-timing-function: ease-in;
}

#patreonButton:hover Image {
    transform: scaleX(1.02) scaleY(1.02);
}

#patreonButton:active Image {
    transform: scaleX(0.96) scaleY(0.96);
}

#patreonButtonClose {
    align: right center;
    margin-top: 2px;
    margin-right: 8px;
    width: 15px;
    height: 15px;
    opacity: 0;

    wash-color: #EEEEEE;
    background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

#patreonButton:hover #patreonButtonClose {
    opacity: 0.7;
}

#patreonButtonClose:hover {
    opacity: 0.9;
    transform: scaleX(1.1) scaleY(1.1);
}

#patreonButtonClose:active {
    transform: scaleX(0.9) scaleY(0.9);
}

