.statsRow {
    flow-children: right;
    width: fill-parent-flow(1);
}

.statColumn {
    width: fill-parent-flow(1);
    text-overflow: ellipsis;
    padding: 8px;

    font-size: 16px;
    height: 32px;

    background-color: #888888;
    color: #000000;
}

.statNumber {
    text-align: center;
}

.statHeader .statColumn {
    background-color: #222222;
    color: #FFFFFF;
}

.evenStatRow .statColumn {
    background-color: #666666;
}

#playerNameContainer {
    width: fill-parent-flow(1);
}

#totalGamesContainer {
    width: 110px;
}

#totalWinsContainer {
    width: 90px;
}

#totalAbandonsContainer {
    width: 120px;
}

#totalFailsContainer {
    width: 200px;
}

#lastAbandonContainer {
    width: 200px;
}

/* Adds a glow to the author's name */
.theRealAsh47 {
    color: #000000;
    text-shadow: 0px 0px 2px 2.0 #FFFF00FF;
    font-weight: bold;
}
