 .TeamOverlay
{
    width: 100%;
    height: 100%;
}

.DuelPanel {
	width: 500px;
	height: 200px;

    horizontal-align: middle;
    vertical-align: top;

    margin-top: 80px;

    transform: scale3d(1.8,1.8,1.8);
}

.DuelPanel DOTAScenePanel {
	width: 500px;
	height: 200px;

    horizontal-align: middle;
    vertical-align: middle;
    opacity: 1.0;

    z-index: 1.0;
}

#KillLimit
{
	margin-top:0.6%;
	margin-right:10%;
	flow-children: none;
	horizontal-align: right;
	vertical-align: top;
}

#KillLimit_text
{
	color: #FFFFFF;
	font-size: 28px;
	horizontal-align: center;
}
#Block
{
	flow-children: none;
	width: 230px;
	height: 50px;
	horizontal-align: left;
	vertical-align: bottom;
	margin-left: 1.5%;
	margin-bottom:29.0%;
	/*background-image: url( "file://{images}/custom_game/ui_timer.png");*/
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;

    background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323435;
}
#Attension
{
	flow-children: down;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	horizontal-align: center;
	margin-top:80px;
	color: white;
	font-size: 34px;
}

#DuelTextBlock
{
	align: center center;
	flow-children: none;
	margin-top: 1px;
	font-family: RadianceM;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 3px 5px 5px black;
    text-align: center;
    text-overflow: ellipsis;
}