#VotingDropDownRoot {
    margin-top: 50px;
    margin-left: 225px;
}

.VotingDropDownSecondaryMargin {
    margin-left: 425px;
}

.VotingMenuHidden {
    opacity: 0.0;
    blur: 5.0;
}

.VotingDropDown {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323435;
    border-radius: 5px;

    transition-property: opacity, blur, transform;
    transition-duration: 0.2s, 0.3s;

    flow-children: down;
}

.VotingMenuLabel {
    font-family: Radiance;
    font-size: 19px;
    color: #ffffffbb;

    padding: 6px;
}

.VotingMenuEntry { 
    min-width: 200px;
    height: 35px;
}

.VotingMenuEntry:hover,
.hover
{
    wash-color: #bbbbbb;
    background-color: #44444444;
}

.TeamSwitchRoot
{
    width: 100%;
    height: 100%;
}

.TeamSwitch_Panel_Hidden {
    opacity: 0.0;
    transform: translateY(-100px);
}
.hidden {
    visibility: collapse;
}
.disconnected {
    color: #ff0000 !important;
}

#OffsetHack {
    margin-top: 9px;
    margin-left: 225px;
    width: 100%;
    height: 1.9%;
    padding: -4px;
    padding-left: 0px;
}

.VotingBoxTextEntry {
    width: 100%;
    height: 100%;

    line-height: 36px;

    padding-left: 4px;

    font-family: Radiance;
    font-size: 28px;
    color: #ffffffbb;

    background-color: #000000bb;
}

#VotingBoxOptionDescription {
    padding-left: 15px;
    padding-right: 15px;
}

.VotingBoxSubmitButtonHover:hover {
    wash-color: #bbbbbb;
}

.VotingBoxSubmitButton {
    width: 80%;
    height: 45px;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15Ebb ), to( #87d69533 ) );
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100% 100%;   

    horizontal-align: left;
}

.VotingBoxCancelButton {
    width: 20%;
    height: 45px;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #722217 ), to( #DD4A29 ) );
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 100% 100%;   

    horizontal-align: right;
}

.VotingBoxOptionRow {
    width: 100%;
    height: 40px;
    flow-children: right;
}

#VotingMenuButton
{
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323435;

    border-radius: 5px;
    padding: 1px 10px;
    vertical-align: top;
}

#VotingMenuButtonTitle
{
    font-size: 20;
    font-family: Radiance;

/*    text-shadow: 1px 1px 3px 2.0 #000000; */
    opacity: 0.75;
    color: #cbcbcb;

    align: center center;
}

.Offset {
    vertical-align: top;
    horizontal-align: left;

    margin-top: 45px;
    margin-left: 225px;
}

.VotingBoxTeamSwitch
{
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    border: 1px solid #323435;
    border-radius: 5px;
    padding: 0px;
    width: 320px;

    flow-children: down;

    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

.VotingBoxLabel
{
    font-size: 18px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;

    text-shadow: 1px 1px 3px 1.0 #000000;
    color: #ffffff;
    vertical-align: top;
    horizontal-align: center;

    height: 30px;
    margin-top: 10px;
}

.ListDivider
{
    height: 55px;
}

.PlayerIcon
{
    height: 50px;
    width: 90px;
    margin-left: 15px;
}

.PlayerDis
{
    height: 30px;
    width: 90px;
    margin-left: 15px;
    margin-top: 12px;
}

.PlayerNameFont
{
    font-size: 20px;
    font-family: Radiance;
  	font-weight: bold;
    text-align: center;

    //margin-top: -5px;
    margin-left: 140px;

    text-shadow: 1px 1px 3px 1.0 #000000;
    vertical-align: center;
    horizontal-align: right;
}
    
#BalanceWarning {
    background-color: gradient(linear, 0% 0%, 0% 100%, from(#40404068), color-stop( 0.3, #33333360), to(#18181855));
    box-shadow: #52545520 0px 0px 1px;
    width: 250px;
    border: 1px solid #323435;
    border-radius: 5px;
    padding: 1px 10px;
    vertical-align: top;
    horizontal-align: left;

    margin-top: 45px;
    margin-left: 225px;
    flow-children: down;
}

#BalanceWarningDescription{
    font-size: 16px;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;

    margin-left: 0px;
    padding: 5px;

    text-shadow: 1px 1px 3px 1.0 #000000;
    vertical-align: center;
    horizontal-align: center;
    color: #ffffff;
    opacity: 0.8;
}